

.caarousel {
  margin-bottom: 1rem;
}
.carousel-caption{
    z-index: 10;
}

.intro-block{
    background: url(../images/purpalt.png) repeat;
    padding: 100px 15px 60px;
    color: #fff;
}
.text-muted{
    color: #e9e6df;
    font-weight: 100;
}

.padded{
    padding: 100px 15px;
}

hr {
    border-top: 1px solid #c9c9c9;   
}
.info{
    background: #ffa753 url(../images/skyline.png) repeat-x bottom;
    padding: 80px 0;
}
.info small{
    color: #eeefe9;   
}
.info a{
    color: #fff;   
}
.info a:hover{
    color: #333;   
}
.tab-pane{
    padding: 40px 10px 0 10px;
}
.ftr{
    background: url(../images/shattered.png) repeat;
    padding: 80px 0 60px 0;
}
.ftr address, .ftr a, .ftr p{
    color: #fff;   
}
.ft_space{
    padding: 0 10px;   
}
.blog h1 a{ color: #4b8575; }
.blog p a{ color: #ed7337; }
.sidebar{
    background-color: #e9e6df;   
}
.bpad{ margin-bottom: 30px;}
.map {
    height: 350px;
    width: 100%;
}





@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(1.5, 1.5);
  }
}

@keyframes zoom {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.5, 1.5);
  }
}

.carousel-inner .item > img {
  -webkit-animation: zoom 20s;
  animation: zoom 20s;
}




