@charset "utf-8";
@media only screen and (min-device-width : 228px) and (max-device-width : 320px) {
.mainlogo img{
	width: 100%;
}
.mainNav{
  padding-left:0px !important;
}
.profilephoto {
    width: 100px !important;
    height: 100px !important;
    margin-top: -80px !important;
}
.profile_menu .nav > li{
	margin-right: 15px;
}
.galleryslide .carousel-caption{
	left:0% !important;
}
.floatbtn{
	left: 34% !important;
}
.rtcommonblock{
	padding-right: 10px !important;
}
.navbar-nav > li > a{
	border-radius: 0px !important;
}
.categorydropmenu .dropdown-menu{
	min-width: 330px !important;
	left: 0px !important;
}
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 321px) and (max-device-width : 480px) {
.mainlogo img{
	width: 100% !important;
	font-size: 13px !important;
}
.mainNav{
  padding-left:0px !important;
}
.profilephoto {
    width: 100px !important;
    height: 100px !important;
    margin-top: -80px !important;
}
.galleryslide .carousel-caption{
	left:0% !important;
}
.floatbtn{
	left: 30% !important;
}
.rtcommonblock{
	padding-right: 10px !important;
}
.navbar-nav > li > a{
	border-radius: 0px !important;
}
.categorydropmenu .dropdown-menu{
	min-width: 330px !important;
	left: 0px !important;
}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

}
@media only screen and (min-device-width : 1367px) and (max-device-width : 1920px) {
 .offersblock{
  margin-top: -76px !important;
}
.container-fluid{
	max-width: 1316px !important;
}
}
