html{
padding: 0px;
margin: 0px;
}
body{
padding: 0px;
margin: 0px;
font-family: 'Roboto', sans-serif;
/* font-family: 'Raleway', sans-serif; */
color: #9b9b9b;
overflow-x: hidden;
font-size: 15px;
}
html, body, div,h1, h2, h3, h4,p,span,ul,li,ol,br,table,th,tr,td,.h2{
padding: 0px;
margin: 0px;
}
* {
box-sizing: border-box;      
}
/* spaceless cols styles */
.cm-row {
margin-left: 0;
margin-right: 0;
}
.cm-row .col-xs-1, .cm-row .col-xs-2, .cm-row .col-xs-3, .cm-row .col-xs-4, .cm-row .col-xs-5, .cm-row .col-xs-6, .cm-row .col-xs-7, .cm-row .col-xs-8, .cm-row .col-xs-9, .cm-row .col-xs-10, .cm-row .col-xs-11, .cm-row .col-xs-12, .cm-row .col-sm-1, .cm-row .col-sm-2, .cm-row .col-sm-3, .cm-row .col-sm-4, .cm-row .col-sm-5, .cm-row .col-sm-6, .cm-row .col-sm-7, .cm-row .col-sm-8, .cm-row .col-sm-9, .cm-row .col-sm-10, .cm-row .col-sm-11, .cm-row .col-sm-12, .cm-row .col-md-1, .cm-row .col-md-2, .cm-row .col-md-3, .cm-row .col-md-4, .cm-row .col-md-5, .cm-row .col-md-6, .cm-row .col-md-7, .cm-row .col-md-8, .cm-row .col-md-9, .cm-row .col-md-10, .cm-row .col-md-11, .cm-row .col-md-12, .cm-row .col-lg-1, .cm-row .col-lg-2, .cm-row .col-lg-3, .cm-row .col-lg-4, .cm-row .col-lg-5, .cm-row .col-lg-6, .cm-row .col-lg-7, .cm-row .col-lg-8, .cm-row .col-lg-9, .cm-row .col-lg-10, .cm-row .col-lg-11, .cm-row .col-lg-12 {
padding-left: 0 !important;
padding-right: 0 !important;
}
/* gutterless cols styles */
.cm-row { margin-left: 0; margin-right: 0; }
.cm-row .col-xs-1, .cm-row .col-xs-2, .cm-row .col-xs-3, .cm-row .col-xs-4, .cm-row .col-xs-5, .cm-row .col-xs-6, .cm-row .col-xs-7, .cm-row .col-xs-8, .cm-row .col-xs-9, .cm-row .col-xs-10, .cm-row .col-xs-11, .cm-row .col-xs-12,
.cm-row .col-sm-1, .cm-row .col-sm-2, .cm-row .col-sm-3, .cm-row .col-sm-4, .cm-row .col-sm-5, .cm-row .col-sm-6, .cm-row .col-sm-7, .cm-row .col-sm-8, .cm-row .col-sm-9, .cm-row .col-sm-10, .cm-row .col-sm-11, .cm-row .col-sm-12,
.cm-row .col-md-1, .cm-row .col-md-2, .cm-row .col-md-3, .cm-row .col-md-4, .cm-row .col-md-5, .cm-row .col-md-6, .cm-row .col-md-7, .cm-row .col-md-8, .cm-row .col-md-9, .cm-row .col-md-10, .cm-row .col-md-11, .cm-row .col-md-12,
.cm-row .col-lg-1, .cm-row .col-lg-2, .cm-row .col-lg-3, .cm-row .col-lg-4, .cm-row .col-lg-5, .cm-row .col-lg-6, .cm-row .col-lg-7, .cm-row .col-lg-8, .cm-row .col-lg-9, .cm-row .col-lg-10, .cm-row .col-lg-11, .cm-row .col-lg-12 {
    padding-left: 0;
    padding-right: 0;
}
/* 10px gutter cols styles */
.cm10-row { margin-left: -5px; margin-right: -5px; }
.cm10-row .col-xs-1, .cm10-row .col-xs-2, .cm10-row .col-xs-3, .cm10-row .col-xs-4, .cm10-row .col-xs-5, .cm10-row .col-xs-6, .cm10-row .col-xs-7, .cm10-row .col-xs-8, .cm10-row .col-xs-9, .cm10-row .col-xs-10, .cm10-row .col-xs-11, .cm10-row .col-xs-12,
.cm10-row .col-sm-1, .cm10-row .col-sm-2, .cm10-row .col-sm-3, .cm10-row .col-sm-4, .cm10-row .col-sm-5, .cm10-row .col-sm-6, .cm10-row .col-sm-7, .cm10-row .col-sm-8, .cm10-row .col-sm-9, .cm10-row .col-sm-10, .cm10-row .col-sm-11, .cm10-row .col-sm-12,
.cm10-row .col-md-1, .cm10-row .col-md-2, .cm10-row .col-md-3, .cm10-row .col-md-4, .cm10-row .col-md-5, .cm10-row .col-md-6, .cm10-row .col-md-7, .cm10-row .col-md-8, .cm10-row .col-md-9, .cm10-row .col-md-10, .cm10-row .col-md-11, .cm10-row .col-md-12,
.cm10-row .col-lg-1, .cm10-row .col-lg-2, .cm10-row .col-lg-3, .cm10-row .col-lg-4, .cm10-row .col-lg-5, .cm10-row .col-lg-6, .cm10-row .col-lg-7, .cm10-row .col-lg-8, .cm10-row .col-lg-9, .cm10-row .col-lg-10, .cm10-row .col-lg-11, .cm10-row .col-lg-12 {
    padding-left: 10px;
    padding-right: 10px;
}
.center{
text-align: center;
}
.tb40p{
  padding: 40px 0px;
}
.tb10p{
  padding:10px 0px;
}
.tb60p{
  padding: 60px 0px;
}
.tb20p{
  padding: 20px 0px;
}
.lft20m{
  margin-left: 20px;
}
.lft30m{
  margin-left: 30px;
}
.lft45p{
  padding-left:45px;
}
.btm7m{
  margin-bottom: 7px;
}
.tb40p{
  padding: 40px 0px;
}
.btm8m{
  margin-bottom: 8px;
}
.btm10m{
  margin-bottom: 10px;
}
.btm30m{
  margin-bottom: 30px;
}
.btm60p{
  padding-bottom: 60px;
}
.all10p{
  padding:10px;
}
.all14p{
  padding:14px;
}
.all20p{
  padding: 20px;
}
.rt5p{
  padding-right: 5px;
}
.tp100p{
  padding-top: 100px;
}
.tp80m{
  margin-top: 80px;
}
.right{
  text-align: right;
}
.font300{
  font-weight: 300;
}
/* css for main navigation or header */
.mainheader{
  width: 100%;
background-color: #fff;
position: fixed;
z-index: 999;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
top: 0px;
font-family: 'Raleway', sans-serif;
}
.mainheader.showheader {
top: 0px;
padding:0px;
transition: all 0.6s ease;
}
.mainheader.showheader .navbar{
  margin-bottom: 0px;
}
.mainheader .navbar-brand img{
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5 ease-in-out;
}
.mainheader.showheader .navbar-brand img{
  width: 80%;
  transition: all 0.6s ease;
} 
.mainheader .navbar-brand{
  -webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}
.showheader .navbar-brand{
  transition: all 0.6s ease;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
  background-color: #009601;
  color: #fff !important;
}
.navbar-nav > li > a{
  padding:6px 15px 7px;
  border-radius:3px;
}
.mainNav{
  padding-left:170px;
  padding-top: 7px;
   -webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}
.showheader .mainNav{
  padding-top:0px;
  padding-bottom: 15px;
  transition: all 0.6s ease;
}

.mainheader .navbar-default{
  padding:20px 0px;
  border-radius: 0px;
   -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: #fff
}
.showheader .navbar-default{
  padding:20px 0px 0px;
  box-shadow: 0px 3px 6px rgba(0,0,0,.25);
  transition: all 0.6s ease;
  background-color: rgba(255,255,255,0.2);
}
.navbar-brand{
  padding: 0px;
}
.logo{
  margin-top:-7px;
}
.mainlogo img{
  width: 100%;
}
.navbar{
  border:0px;
}

/* css for dropmenu to category list */
.categorydropmenu .dropdown-menu{
  min-width: 1000px;
  left: -228px;
  background-color: #fff;
  border:0px;
  border-radius: 0px;
  padding:20px;
  margin:20px 0 0 !important;
}
.navbar-nav > li > .dropdown-menu{
  margin-top: 15px;
  background-color: #fff;
}
.submenuDiv{
  float: left;
}
.submenuDiv li{
  border:0px !important;
}
.submenuDiv ul li{
  background-color: #fff !important;
  border:0px !important;
  padding:0px;
  list-style-type: none;
}
.submenuDiv ul li a{
  color: #999;
  font-weight: 500;
  font-size: 15px;
}
.submenuDiv ul li a:hover{
  color: #616161;
}
.submenuDiv h3{
  font-size: 16px;
  color:#555;
}
/* css for right menu */
.rightNav{
  padding-top: 7px;
  -webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}
.showheader .rightNav{
  padding-top:0px;
  padding-bottom: 15px;
  transition: all 0.6s ease;
}
.rightNav img{
  margin-top:-20px;
}
.rightNav > li> a{
  color: #fff !important;
  border-radius:3px;
}
.rightNav > li{
  margin-left:6px;
}
.login, .login:hover{
  background-color: #039cd8 !important;
  color:#fff;
}
.signup, .signup:hover{
  background-color:#333 !important;
  color:#fff;
}

/* css for search banner started here */
.searchbanner{
  background: url(../images/banner.jpg) no-repeat 0px 0px;
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0px 100px;
  font-family: 'Roboto', sans-serif;
}
.innerbanner{
  background: url(../images/pagebanner.jpg) no-repeat 0px 0px;
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0px 20px;
  font-family: 'Roboto', sans-serif;
}
.mainsearch{
  position: relative;
}
.searchform{
  margin-top: 10px;
}
.pageform{
  /* margin-top:60px; */
}
.searchform .form-control{
  border-radius: 0px;
}
.pageform .form-control{
  border-radius: 0px;
}
.searchicon{
  right: 16px;
  background-color: #e34f25;
  padding:6px 14px;
  color: #fff;
  position: absolute;
  top: 11px;
  right: 16px;
}
.searchicon > .fa{
  color:#fff;
}
.navbar{
  margin:0px;
  /* min-height: 30px; */
}
/* css for banner caption */
.caption{
  padding:87px 0px 50px 0px;
}
.h1{
  color: #fff;
  font-size: 66px;
  font-weight: 900;
}
.caption p{
  color: #fff;
  font-size: 20px;
}
.searchbtn{
  font-size: 16px;
  padding:9px 18px;
  border:1px solid #039cd8;
}
.searchbtn:hover{
  background-color: transparent;
  border:1px solid #039cd8;
  color: #039cd8;
}
.mainsearch{
  padding-bottom:48px;
}
.mainsearch input{
  border:1px solid rgba(220,220,220,0.5);
  background-color: rgb(245,245,245,.3);
  border-radius:3px !important;
  min-width: 258px;
  padding:19px 10px;
}
.greenbtn{
  background-color: #009601;
  color: #fff;
  padding:12px 58px 12px 16px;
  font-size: 16px;
  border-radius:3px;
  border:1px solid #009601;
}
.greenbtn:hover{
  border:1px solid #fff;
  color:#fff;
  background-color: transparent;
  text-decoration: none;
}
.rightarrow {
    background-color: #007801;
    color: #fff;
    padding: 8px 14px 8px;
    position: absolute;
    margin-left: -52px;
    margin-top: -11px;
    border: 1px solid #007801;
    border-radius: 0px 3px 3px 0px;
}
/* Chrome 22-28 */
@media screen and (-webkit-min-device-pixel-ratio:0){
.rightarrow{
    margin-left: -50px !important;
    margin-top: -12px !important;
  } 
}
.rightarrow i{
  font-size: 24px;
}
/* banner contact info and social icons block started here */
.socialicons{
  padding: 10px 10px 0px 0px;
}
.socialicons a{
  font-size: 18px;
  color: #fff;
  padding-left:5px;
}
.socialicons a:hover{
  color:#039cd8;
  text-decoration:none;
}
.topcontactblock {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}
.topcontactblock i{
  color: #039cd8;
}
/* banner contact info and social icons block ended here */
.img-fluid{
  width: 100%;
}
.bannerslide .carousel{
  z-index: -99;
  top: -25px;
  position: static;
}
.indicator{
  justify-content:center;
  bottom: 20%;
}
.bluebtn{
  background-color: #00aeef;
  border-color: #00aeef;
  color: #fff;
  -webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
border-radius: 3px;
}
.bluebtn:hover{
  color: #00aeef;
  border-color: #00aeef;
  transition: all 0.6s ease;
  background-color: transparent;
}
/* block heading title started here */
.title{
  text-align: center;
  padding:60px 0px;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  color: #555555;
  text-transform: uppercase;
  font-family: "Exo 2", "Exo", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.title-border{
  width: 30px;
  height: 2px;
  background-color: #039cd8;
  position: absolute;
  text-align: center;
  top: 120px;
  left: 48.5%;
}
.h4border{
  width: 30px;
height: 2px;
background-color: #039cd8;
position: absolute;
text-align: center;
top: 42px;

}
.whitecolor{
  color:#fff;
}
/* block heading title ended here */

/* css for product categories blocks started here*/
.product_block{
  text-align: center;
  background-color: #f3f3f3;
  padding: 15px 0px;
  min-height: 131px;
}
.product_block h3{
  font-size: 18px;
  font-weight: 300;
  padding-top: 20px;
  color: #555555;
}
.product_block .product-desc{
  opacity: 0;
  position: absolute;
  transition-timing-function: ease-out;
  top:0px;
  margin: 0px 5px;
  left: 0px;
  font-size: 14px;
  line-height: normal;
  padding: 15px 10px;
  font-weight: 100;
  background-color: #fefefe;
}
.product_block:hover .product-desc{
  opacity: 1;
  position: absolute;
  transition-timing-function: ease-in;
  transition: 0.6s;
  transform: translateY(0%);
  background-color: rgba(28, 147, 169, 0.85);
  color: #fff;
}
.product_block img{
  min-height: 63px;
}
.productcarousel .carousel-control.left{
  position: absolute;
  height: 40px;
  top: 40%;
  padding-top: 0px;
  border-radius: 3px 0px 0px 3px;
  color: #999;
  font-size: 30px;
  margin-left: -25px;
  padding-left: 9px;
  text-align: left;
  background-color: transparent;
  background-image:none;
  width: 30px;
  text-shadow:none;
}
.productcarousel .carousel-control.right{
  position: absolute;
  height: 40px;
  top: 40%;
  padding-top: 0px;
  border-radius: 0px 3px 3px 0px;
  color: #999;
  font-size: 30px;
  padding-right: 9px;
  margin-right: -15px;
  background-color: transparent;
 background-image:none;
  width: 30px;
  text-shadow:none;
}
.events{
  background: url(../images/eventsbg.jpg) no-repeat 0px 0px;
  background-size: cover;
  background-attachment: fixed;
}
.business{
  background: url(../images/business.jpg) no-repeat 0px 0px;
  background-size: cover;
  background-attachment: fixed;
}
.product-block{
  border:1px solid #e9e9e9;
  position: relative;
  transition-timing-function: ease-in;
  transition: 0.6s; 
  background-color: #fefefe;
  padding: 8px;
  text-align: center;
  border-radius: 3px;
}
.product-block:hover{
  box-shadow: 0 3px 6px rgba(0,0,0,.3);
}
.product_img img{
  width: 100%;
}
.product_title{
  padding:10px 0px;
}
.product_title p{
  font-weight: 300;
  font-size: 15px;
  color:#555;
}
/* css for product categories blocks started here*/

/* css for body contact detail */
.contactinfo{
 background: url(../images/contactinfobg.jpg) no-repeat 0px 0px;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  color:#fff;
  font-size: 16px;
  font-weight: 300;
  padding-top: 20px;
}
.icndiv{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border:2px solid #fff;
  margin:20px auto;
  font-size: 25px;
  padding-top: 5px;
}
.icndiv i{
  color: #fff;
}
.contactinfo p{
  font-weight: 300;
}

/* css for contact form */
.lr150p{
padding:0px 150px;
}
.cantactform .form-control{
  width: 100%;
  margin:12px 0px;
}
.btn-send{
  border:1px solid #999999;
  color: #555555;
  background-color: #fff;
  margin-top: 8px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding: 7px 30px;
  font-size: 18px;
}
.btn-send:hover{
  background-color: #039cd8;
  color:#fff;
  border-color:#039cd8;
  transition: all 0.6s ease;
}
/* css for footer block*/
.footerMenu{
    background: url(../images/footerNavbg.jpg) repeat-x 0% 100%;
  }
.footer{
  background-color: #3e352e;
}
.footerNav{
  background-color:#004b69;
  margin:0 auto;
  text-align: center;
  padding:30px 0px 30px;
  position: relative;
}
.footerNav::before{
  content: "";
  width:0;
  height:0;
  border-top:40px solid #003c58;
  border-left: 40px solid transparent;
  margin-left:-40px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.footerNav::after{
  content: "";
  width: 0;
  height: 0;
  border-top: 40px solid #003c58;
  border-right: 40px solid transparent;
  right: 0px;
  position: absolute;
  bottom: 0;
  margin-right:-40px;
}
.footerNav ul{
  list-style-type: none;
}
.footerNav ul li{
  display: inline-block;
  padding:0px 9px;
}
.footerNav ul li a{
  color:#fff;
  font-size: 16px;
}
.footerNav ul li a:hover{
  text-decoration: none;
}

/* css for bottom footer */
.btmfooter{
  color: #fff;
  background-color: #2b231d;
  padding:0px;
  font-size: 14px;
  font-weight: 300;
}
.ftr-border{
  border-top:40px solid #004b69;
}
.btmfootermenu ul li{
  list-style-type: none;
  padding:3px 0px;
  display: inline-block;
}
.btmfootermenu ul li a{
  color: #fff;
  font-size: 14px;
}


/* css for inner page */
.sub_cat{
  background-color:#fcfcfc;
  padding:0px;
  border:1px solid #f0f0f0;
  font-family: 'Roboto', sans-serif;
  border-radius: 3px;
  margin-bottom: 20px;
}
.sub_cat .form-check label{
  font-weight: 300;
  font-size: 15px;
  padding-left: 10px;
}
.h3{
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  margin:0px;
  padding-bottom: 20px;
  background-color: #039cd8;
  padding:12px 25px;
  border-radius:3px 3px 0px 0px;
}
.subcat_form{
  padding: 20px;
}
.mini-block{
  border:1px solid #e9e9e9;
  background-color:#fff;
  font-family: 'Roboto', sans-serif;
  border-radius: 3px;
  -webkit-transition: transform 0.65s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  -moz-transition: transform 0.65s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  -ms-transition: transform 0.65s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  -o-transition: transform 0.65s cubic-bezier(0.18, 0.89, 0.32, 1.28);
   transition: transform 0.65s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  min-height: 214px;
  margin-bottom: 20px;
  box-shadow: -1px 1px 3px 1px rgba(72,72,72,0.1);
 /*  box-shadow: 0px 0px 3px 1px rgba(72,72,72,0.1); */
  position: relative;
}
.mini-block:hover{
  /*  box-shadow: 0px 0px 8px 5px rgba(0,0,0,0.17); */
   transform: translate3d(0, -10px, 0);
}
.company_name{
  background-color: #039cd8;
  color: #fff;
  font-size: 17px;
  text-align: center;
  padding:4px 0px 3px;
  font-weight: 400;
  text-transform: uppercase;
}
.client_logo{
  padding:5px 12px;
  border-right:1px solid #f5f5f5;
}
.client_logo img{
  width: 100%;
}
.miniprof_title{
  color:#039cd8;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  padding:4px 0px 3px 0px;
  text-align: center;
}
.brand{
  font-size: 13px;
  color: #b5b5b5;
  font-weight: 300;
}
.client_contact{
  color: #a0a0a0;
  font-size: 15px;
  font-weight: 300;
  position: relative;
  padding:24px 14px;
  /* border-bottom: 1px solid #f5f5f5; */ 
}
.client_contact span{
  color: #c3c3c3;
  padding-right:8px;
}

.likebtn{
  position: absolute;
  right: 0px;
  width: 33px;
  background-color: #fcfcfc;
  bottom: 0px;
  text-align: center;
  padding:10px 5px 5px;
  border-radius: 0px 0px 3px 0px;
}
.likebtn span{
  color: #a0a0a0;
  padding-right:5px;
}
.counting{
  border: 1px solid #a0a0a0;
  border-radius: 3px;
  padding:0px 5px;
  color: #fff;
  font-size:13px; 
}
.unlock{
  color: #039cd8;
}

/* css for profile detail page */
.comverphoto{
  border: 1px solid #474747;
}
.coverphoto img{
  width: 100%;
}
.coverbg{
  background-color: #f9f9f9;
  margin-top: 90px;
  /* z-index: -99; */
  position: relative;
  padding-top: 40px;
}
.profilephoto{
  width: 155px;
  height: 155px;
  background-color: #fcfcfc;
  position: absolute;
/*   z-index: 99; */
margin-top: -125px;
margin-left: 30px;
border: 1px solid #474747;
}
.profile_menu{
  background-color: #f0f0f0;
}
.profile_menu .navbar-nav > li > a{
  padding:15px;
  color: #858585;
  -webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}
.profile_menu .nav > li > a:hover, .nav > li > a:focus{
background-color: #dedede;
transition: all 0.6s ease;
}

.h2{
  font-family: 'Roboto', sans-serif;
  color: #737373;
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}
.galleryslide .carousel-caption{
  left: 0%;
  text-align: left;
  right: 0%;
  background-color: rgba(0,23,32,0.8);
  padding:10px 15px;
  bottom: 0px;
  font-family: 'Roboto', sans-serif;
}
.galleryslide .carousel-caption h3{
  font-size: 15px;
  color: #039cd8;
  text-transform: uppercase;
  font-weight: 400;
  padding-bottom: 8px;
}
.galleryslide .carousel-caption p{
  font-weight: 300;
  font-size: 14px;
}
.rtcommonblock{
  background-color: #fcfcfc;
  border:1px solid #f0f0f0;
  padding:35px 20px 20px 15px;
  margin-bottom: 20px;
  font-weight: 300;
}

.products img{
  margin-bottom: 30px;
}
.floatbtn{
  position: absolute;
  background-color: rgba(255,255,255,0.8);
  top: 44%;
  border-radius: 3px;
  padding:9px 25px;
  color: #858585;
  left: 32%;
  min-width: 135px;
}
.product_thumb{
  position: relative;
  text-align: center;
}
.product_thumb img{
  width: 100%;
}
.image{
  display: block;
  width: 100%;
  height: 228px;
}
.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}
.product_thumb:hover .overlay {
  opacity: 1;
  background-color: rgba(3,156,216,.38);
}
.content_heading{
  position: relative;
}
.heading_border{
    width: 65px;
    height: 2px;
    background-color: #039cd8;
    position: absolute;
    text-align: center;
    margin-top: -15px;
}
.t55b40p{
  padding:55px 0px 40px 0px;
}
a.lftarrow, a.rtarrow{
  border:1px solid #fefefe;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top:48%;
  left: 15px;
}
a.rtarrow{
  right:15px !important;
}
.arrow-left{
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  left: 5px;
  line-height: 30px;
  font-size: 16px;
  text-align: center;
}
.arrow-right{
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  right: 5px;
  line-height: 30px;
  font-size: 16px;
  text-align: center;
}
/* css for profile title */
.profilehd{
  font-size: 24px;
  font-weight: 300;
  color: #484848;
  border:1px solid #484848;
  text-align: center;
  padding: 7px 30px;
  position: relative;
  text-transform: uppercase;
}
.profilehd::before{
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border:1px solid #484848;
  position: absolute;
  margin-left: -48px;
  top: 14px;
}
.profilehd::after{
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border:1px solid #484848;
  position: absolute;
  right: -18px;
  top: 14px;
}
.pagebg{
  background-color: #fcfcfc;
}
/* css for profile product & services page */
.product_page{
  max-width:880px;
}
.profile_about{
  max-width:960px;
}
.service_title{
  background-color: #273444;
  color: #fff;
  padding: 8px 20px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
}

.product_image img{
  width: 100%;  
}
.services{
  margin-bottom: 30px;
 box-shadow: -1px 1px 3px 1px rgba(72,72,72,0.1);
}
.product_detail{
  padding: 8px 20px;
  text-align: justify;
  font-weight: 300;
  font-size: 16px;
}
/* css for contact page */
.cantactform .pageform{
  width: 100%;
}
.cantactform .form-group label{
  margin:12px 0px;
  color: #a0a0a0;
  font-weight: 300;
}
.h4{
  font-size: 20px;
  font-weight: 400;
  color: #737373;
}
.shortinfo{
  background-color: #039cd8;
  color: #fff;
  padding:25px 15px;
  /* margin-top: 80px; */
}
.shortinfo p{
  padding:7px 0px;
}
.contactmap img{
  width: 100%;
}
.pr_about{
  box-shadow: -1px 1px 3px 1px rgba(72,72,72,0.1);
  background-color: #fcfcfc;
  padding:40px 30px;
  font-weight: 300;
  border: 1px solid #e7e7e7;
}

/* css for gallery page */
.gal-thumb{
  border:4px solid #f9f9f9;
  -webkit-transition: transform 0.65s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  -moz-transition: transform 0.65s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  -ms-transition: transform 0.65s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  -o-transition: transform 0.65s cubic-bezier(0.18, 0.89, 0.32, 1.28);
   transition: transform 0.65s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  box-shadow: -1px 1px 3px 1px rgba(72,72,72,0.1);
}
.gal-thumb:hover{
  transform: translate3d(0, -10px, 0);
}
.gal-thumb img{
  width: 100%;
}
.thumb_title p{
  font-weight: 300;
  font-size: 17px;
  color: #858585;
  text-align: center;
  padding-top: 10px;
}
.howitworks{
  margin-bottom: 60px;
  padding:15px 0px;
  background:url(../images/howitworkbg.png) 50% 50% repeat-y #e6e6e5; 
}
.boxshadow{
  box-shadow: -1px 1px 3px 1px rgba(72,72,72,0.1);
  -webkit-transition: transform 0.65s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  -moz-transition: transform 0.65s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  -ms-transition: transform 0.65s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  -o-transition: transform 0.65s cubic-bezier(0.18, 0.89, 0.32, 1.28);
   transition: transform 0.65s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.boxshadow:hover{
  transform: translate3d(0, -20px, 0);
}
.howitworksbtn{
  border: 1px solid #e7e7e7;
  color: #484848;
  background-color: #eee;
  margin-top: 8px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding: 7px 30px;
  font-size: 24px;
  box-shadow: -1px 1px 3px 1px rgba(72,72,72,0.2);
  font-weight: 300;
  margin-top: 16px;
}
.howitworksbtn:hover{
  transform: all 0.5s ease-out;
  background-color: #039cd8;
  color: #fff;
  border-color: #039cd8;
}
.missionblock{
  background-color: #f6f6f6;
}
.mv-block{
  background-color: #fff;
  box-shadow: -1px 1px 3px 1px rgba(72,72,72,0.2);
  padding:1px 20px 0px;
  height: 300px;
  border-radius:3px;
  -webkit-transition: transform 0.65s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  -moz-transition: transform 0.65s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  -ms-transition: transform 0.65s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  -o-transition: transform 0.65s cubic-bezier(0.18, 0.89, 0.32, 1.28);
   transition: transform 0.65s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.mv-block:hover{
  transform: translate3d(0, -20px, 0);
}
.mv-block p{
  padding: 20px 0px;
}
.icondiv{
  width:64px;
  height: 64px;
  border-radius: 50%;
  color: #fff;
  font-size: 30px;
  line-height: 64px;
  margin:20px auto;
}
.yellowbg{
  background-color: #f1b41d;
}
.greenbg{
  background-color: #269390;
}
.pinkbg{
  background-color: #cc3254;
}
.team-block img{
  width: 100%;
}
.team-block{
  border-bottom: 4px solid #039cd8;
  border-top: 0px;
  margin:0px;
  width: 100%;
  transition-timing-function: ease-out;
}
.team-block:hover{
  border-top:4px solid #039cd8;
  border-bottom: 0px;
  transition-timing-function: ease-in;
  transition: 0.6s;
}
.team-title{
  border:1px solid #b3b3b3;
  padding:20px 0px;
  margin-top: -5px;
}
.h2{
  color: #484848;
  font-size: 20px;
  font-weight: 400;
}
.team-title p{
  font-size: 14px;
  color: #999;
}
.team_page{
  max-width: 1100px
}
.captionpic{
  text-align: left;
  padding-top: 150px;
  padding-left: 90px;
  font-size: 16px;
}
.captionpic i{
  color: #039cd8;
}
.img_space{
height:155px;
width:100%;
object-fit: cover;
float: left;
padding-bottom: 20px; }